ion-content{
    --ion-background-color:linear-gradient(170deg, var(--blue) 20%, var(--orange) 0%);
}

ion-content h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.46);
    color:white;
    font-weight: bold;
}

ion-content h2{
    font-size: 35px;
    text-align: left;
    font-family:"Rancho";
}

ion-content h3{
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.46);
    color:white;
}

ion-content p{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    font-family:"Rancho";
    margin-top: 70px;
}


#imgCol{
	background-image: url("../../assets/reponse.png");
	background-size: contain;
	background-repeat: no-repeat;
	position:relative;
	left:5%;
	width:auto;
	height:35vh;
}

//support
#imgCol::before{
	display:block;
	content:'';
	position:absolute;
	z-index: -1;
	bottom:-48%;
	left:-25%;
	background: rgb(217, 215, 215);
	width: 100%;
	height:100%;
	clip-path: ellipse(12vh 5vw);
}

// shadow
#imgCol::after{
	display:block;
	content:'';
	position:absolute;
	z-index: -2;
	bottom:-49%;
	left:-24%;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height:100%;
	clip-path: ellipse(12vh 5vw);
}