<ion-content (click)="check()">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>RÉPONSE</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <!-- word-->
                <h2>{{mot}}</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3>La bonne définition était :</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <!--good definition-->
                <p>"{{definition}}"</p>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col size = "4">
                <img src="../../assets/reponse.png">
            </ion-col>
        </ion-row> -->
        <div id="imgCol"></div>
    </ion-grid>
</ion-content>
