<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Nombre de manches</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <!-- Use ion-Range to display a slider to select number of rounds. We set the value at 1, so if user doesn't interact with slider, we still have at least 1 round ! -->
                <ion-range min="1" max="10" step="1" snaps="true" [pin]="true" #range value="1">
                    <ion-label slot="start"><h3>1</h3></ion-label>
                    <ion-label slot="end"><h3>10</h3></ion-label>
                </ion-range>
            </ion-col>
        </ion-row>  
        <ion-row>
            <ion-col size="6">
                <ion-img routerLink="/current-manche" (click)="nbManches(range.value)"  src="../../assets/choix_manches.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
