.logode{
    font-size: 100px;
}

.valide{
    font-size: 50px;
    color:green;
}



.custom_content_selectMJ{
    height: 100%;
    background: linear-gradient(195deg ,#384AF0 40%, #7882e1 60%, #aeb4e8 70%, #F68F59 0% );
}