<ion-content>
<ion-grid class="custom_content_selectMJ" id="mainGrid">
    <ion-row>
        <ion-col>
            <h1>{{nomMJ}}</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="8">
            <ion-img src="../../assets/maitre_jeu.png"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h2>Tu es le maître du jeu !</h2>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>Prend le téléphone en main ...</p>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- Modal to select word for this round. MJ can randomly select a new one. backdropDismiss=false to prevent user from leaving Modal -->
<ion-modal
trigger="mainGrid"
backdropDismiss=false
>
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
              Le mot est :
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <!-- Display a random word by default. -->
                <h1>{{mot}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-icon name="dice-outline" class="logode" (click)="randomWord()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <h3>Lis-le à haute voix et valide</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-icon class="valide" name="checkmark-circle-outline" routerLink="/definition-joueur" (click)="dismiss()"></ion-icon>
            </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
