<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="8">
        <h1>NUMERO DE PARTIE</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <!-- input to enter the number of a game already created-->
        <ion-input type="number" inputmode="numeric" placeholder="Numéro de la partie" #numberGame></ion-input>        
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-button (click)="OK()">OK</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>