// modal background
ion-modal {
	font-family:"Sansation Bold";
	font-size:5vw;
	color:var(--white);
	--background: linear-gradient(0deg, rgb(210,210,210) 0%, var(--blue) 100%);
}

// modal buttons
ion-modal ion-button{
	margin-top:10vh;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	font-size:7vw;
	--background: transparent;
	--background-activated: transparent;
	--background-focused: transparent;
	--background-hover : transparent;
	--border-style: transparent;
	--box-shadow: transparent;
	--color-hover:rgb(230,230,230);
}

// Center modal grid content
ion-grid{
	height:100%;
}

ion-row{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

ion-content{
	--ion-background-color:linear-gradient(160deg, #3A4CF0 50%, #F68F59 0%);
}


ion-img{
	width:100%;
	margin-top:50px;

}

.row_button{
	margin-top: 120px;
}

.custom_home ion-button{
	margin-top: 25px;
	font-size: 25px;
	--background: #3A4CF0;
	--border-radius:8px;
	height: 60px;
	font-weight: bold;
}
ion-modal p{

	margin-bottom: 10vh	;
}
