<ion-content [fullscreen]="true" class="fond">
	<div id="container">
		<ion-grid class="custom_home" >
			<ion-row class="ion-justify-content-center">
				<ion-col size="6">
					<ion-img src="../../assets/dikologo.png"></ion-img>
				</ion-col>
			</ion-row>
			<ion-row class="ion-justify-content-center">
				<ion-col size="6">
					<ion-button id="trigger-button" expand="block">Nouvelle partie</ion-button>
					<ion-button routerLink="/rejoindre-partie" expand="block">Reprendre la partie</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>

	<!-- uses a modal to select game mode : online or offline. Display triggered by button with id "triger-button" -->
		<ion-modal
		trigger="trigger-button"
		[swipeToClose]="true"
		>
			<ng-template>
				<ion-grid>
					<ion-row>
						<ion-col class="ion-text-center">
							<ion-button routerLink="/online-host-create" (click)="dismiss()">Mode Connecté</ion-button>
							<p class="ion-text-end">Joue en ligne avec tes amis,<br>
								chacun joue sur son téléphone !</p>
							<ion-button routerLink="/add-joueur" (click)="dismiss()">Mode Déconnecté</ion-button>
							<p class="ion-text-start">Joue avec tes amis<br>sur un seul
								téléphone !</p>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ng-template>
		</ion-modal>
	</div>
</ion-content>
