<ion-content>
  <ion-grid>
      <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" size="8">
          <h1>TON NOM DE JOUEUR</h1>
          </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center">
          <ion-col size="8">
              <ion-input type="text" placeholder="Ton nom" #playerName></ion-input>        
          </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-end">
          <ion-col size="2">
          <ion-button routerLink="/loading"  (click)="OK()">OK</ion-button>
          </ion-col>

      </ion-row>
  </ion-grid>
</ion-content>