<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
            <h1>Définition n°{{indexDefinition+1}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
            <h2>{{mot}}</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p>{{definition}}</p>
            </ion-col>
        </ion-row>
        <!-- for every entry in current Tour's resultats, we create a line so we can enter votes -->
        <ion-row>
            <!-- Only create element if player is NOT MJ -->
            <ion-col class="ion-text-center">
                <ion-button [disabled]="buttondisabled" (click)="validate()" #buttonvote>{{textButton}}</ion-button>
                <ion-button (click)="goBack()">Retour</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>