ion-grid {
	height:100vh;
	background: linear-gradient(180deg, var(--blue) 15%, rgba(150,150,150,0.7) 50%, var(--blue) 85%);
}

ion-row{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

h1{
	font-family:"Sansation Bold";
	text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
	font-size:65px;
	color:var(--white);
}