<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <!-- waiting message -->
        <h1>{{message}}</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="joueurs.length > 0">
      <ion-col class="ion-text-center">
        <h3>Joueurs connectés :</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="counter2 !=0">
      <ion-col class="ion-text-center">
        <!-- counter to know how many definition are complete -->
        <p>Définitions remplies : {{counter}}/{{counter2}}</p>
      </ion-col>
    </ion-row>
		<ion-row>
      <ion-col class="ion-text-center">
        <!-- spinner-->
        <ion-spinner name="lines" color="light"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <!-- progress bar -->
        <ion-progress-bar [value]="progress" color="light"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let joueur of joueurs;let index = index">
      <ion-col class="ion-text-center">
        <!-- chips of players connected -->
        <ion-chip *ngIf="joueur.nom_joueur != null">
          <ion-avatar>
            <img src="../../assets/avatarexemple.jpg">
          </ion-avatar>
          <ion-label>
            {{joueur.nom_joueur}}
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <!-- progress bar -->
        <ion-progress-bar [value]="progress"></ion-progress-bar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <!-- spinner-->
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>