ion-content {
	--background: linear-gradient(0deg, rgb(210,210,210) 0%, var(--orange) 100%);
	color:white;
}

ion-grid {
	font-family:"Sansation Bold";
	font-size:5vw;
	color:white;
}

h1{
	font-size:12vw;
	color:white;
	text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

ion-button {
	margin-top:10vh;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	font-size:7vw;
	--background: transparent;
	--background-activated: transparent;
	--background-focused: transparent;
	--background-hover : transparent;
	--border-style: transparent;
	--box-shadow: transparent;
	--color-hover:rgb(230,230,230);
}

ion-avatar{
	margin:1vw;
	height:25vw;
	width: 25vw;
	background-color: rgb(94, 109, 238);
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}