<ion-content>
	<!-- We create a modal for every player, so player can input its definition. They're displayed on top of each other and so hide each other. -->
	<ng-container *ngFor="let joueur of joueurs ; let indexElement = index">
		<!-- Only create element if player is NOT MJ -->
		<ion-modal *ngIf="idMj!=joueur.id_joueur"
		[swipeToClose]="false"
		[isOpen]="true"
		>
			<ng-template>
				<div class="main">
					<h1 class="ion-text-center" id="{{joueur.id_joueur}}">{{joueur.nom_joueur}}</h1>
					<div class="cadre ion-text-center">
						<h2>{{mot}}</h2>
						<p>Quelle est ta définition ?</p>
						<!--input to enter the definition-->
						<ion-textarea rows="14" id="{{'definition' + indexElement}}" inputmode="text"></ion-textarea>
						<ion-button (click)="dismiss(indexElement)">Valider</ion-button>
					</div>
				</div>
			</ng-template>
		</ion-modal>
	</ng-container>
</ion-content>
