//background color 
ion-content {
    --ion-background-color: linear-gradient(195deg ,#384AF0 40%, #7882e1 60%, #aeb4e8 70%, #F68F59 0% );
}

// input custom 
ion-input{
    font-size: 25px;
    margin:5px;
    --background: transparent;
    --border-style: transparent;
}

//title custom 
h1 {
 color:white;
 font-size: 40px;
 margin-top:60px;
}



//button custom
ion-button{
    margin-top: 50px;
    --background: transparent;
    --border-style: transparent;
    font-size: 50px;
	--background-activated: transparent;
	--background-focused: transparent;
	--background-hover : transparent;
	--box-shadow: transparent;
	--color-hover:rgb(230,230,230);
}