<ion-content>
	<!-- We create a modal for every player, so player can input its definition. They're displayed on top of each other and so hide each other. -->
    <ng-container *ngFor="let joueur of joueurs;let index = index">
        <!-- Only create element if player is NOT MJ -->
        <ion-modal *ngIf="idMj!=joueur.id_joueur"
        [swipeToClose]="false"
        [isOpen]="true"
        >
        <ng-template>
            <ion-content>
                <ion-grid>
                    <ion-row class="ion-justify-content-center">
                    <ion-col size="6">
                        <h1 id="{{joueur.id_joueur}}">Joueur : {{joueur.nom_joueur}}, id : {{joueur.id_joueur}}</h1>
                    </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                            <h2>{{mot}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                            Quelle est ta définition ?
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                            <ion-textarea id="{{'definition' + index}}" inputmode="text"></ion-textarea>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                            <ion-button (click)="dismiss(index)">Valider</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-content>
        </ng-template>
        </ion-modal>
    </ng-container>
</ion-content>
