<ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="8">
          <h1>NOMBRE DE JOUEURS</h1>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <!-- Use ion-Range to display a slider to select number of players. ionChange will execute a method at each change of slider's value.  -->
          <ion-range min="2" max="12" step="1" [pin]="true" (ionChange)="nbJoueurs(range.value)" value="2" #range>
            <ion-label slot="start"><h3>2</h3></ion-label>
            <ion-label slot="end"><h3>12</h3></ion-label>
          </ion-range>

        </ion-col>
      </ion-row>

      <!-- For each player created with the slider, we create an input field to enter player's name. -->
      <ion-row *ngFor="let joueur of tableauJoueurs;let index =index">
        <ion-col>
          <ion-item>
            <!-- Attribute a single ID to every input to retrieve values later -->
            <ion-input id="{{'Joueur' + index}}" type="text" placeholder="Nom du joueur {{index+1}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col  size="4">
          <ion-button (click)="OK()">OK</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>