//background color 
ion-content {
    --ion-background-color: linear-gradient(195deg ,#384AF0 40%, #7882e1 60%, #aeb4e8 70%, #F68F59 0% );
}

// input transparent 
ion-item {
    --background: transparent;
    --border-style: transparent;
}

ion-input{
    font-size: 25px;
    margin:5px;
}

//title custom 
h1 {
 color:white;
 font-size: 40px;
 margin-top:60px;
}

//range custom
ion-range{
    margin-top: 30px;
    --knob-size:10px;
    --bar-height:5px;
}
// start and end of the range
h3{
    font-size: 30px;
    color:white;
}

//button custom
ion-button{
    --background: transparent;
    --border-style: transparent;
    font-size: 50px;
   
	--background-activated: transparent;
	--background-focused: transparent;
	--background-hover : transparent;
	--box-shadow: transparent;
	--color-hover:rgb(230,230,230);
}