
// background color
ion-content {
	--background:linear-gradient(190deg, var(--orange) 20%, var(--blue) 0%);
}

//title
h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.46);
    color:white;
    font-weight: bold;
}

h2{
    font-size: 35px;
    text-align: right;
    margin-right: 20px;
    font-family:"Rancho";
}

p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color:white;
}

h4{
    font-size: 35px;
    text-align: left;
    font-family:"Rancho";
    color:white;
    margin: 20px;
}


