<ion-content [fullscreen]="true" class="fond">

  <div id="container">
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-img src="../../assets/dikologo.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-button id="trigger-button" expand="block">Nouvelle partie</ion-button>
      <ion-button expand="block">Reprendre la partie</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-modal
trigger="trigger-button"
[swipeToClose]="true"
>
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button>Mode Connecté</ion-button>
            <p>Joue en ligne avec tes amis, 
              chacun joue sur son téléphone !</p>
            <ion-button routerLink="/add-joueur" (click)="dismiss()">Mode Déconnecté</ion-button>
            <p>Joue avec tes amis sur un seul
              téléphone !</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-content>
  </ng-template>
</ion-modal>
</div>
</ion-content>
