
// ----------------- MODAL custom --------------------//

ion-modal{
	--background:var(--orange);
	color:white;
}

h1 {
	font-family: "Sansation Bold";
	font-size:6vh;
	text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

h2 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#imgCol{
	background-image: url("../../assets/annonce.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	position:relative;
	width:auto;
	min-height: 25vh;
	height:60vh;
}

//support
#imgCol::before{
	display:block;
	content:'';
	position:absolute;
	z-index: -1;
	bottom:-40%;
	left:7%;
	background: white;
	width: 100%;
	height:100%;
	clip-path: ellipse(16vh 6vw);
}

// shadow
#imgCol::after{
	display:block;
	content:'';
	position:absolute;
	z-index: -2;
	bottom:-41%;
	left:8%;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height:100%;
	clip-path: ellipse(16vh 6vw);
}

// ---------------------- propositions page custom ------------------------- //

// background color
ion-content {
	--background:linear-gradient(190deg, var(--orange) 20%, var(--blue) 0%);
}

//title
.custom_propositions h1{
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.46);
    color:white;
    font-weight: bold;
}

.custom_propositions h2{
    font-size: 35px;
    text-align: right;
    margin-right: 20px;
    font-family:"Rancho";
}

.custom_propositions p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color:white;
}

.custom_propositions h4{
    font-size: 35px;
    text-align: left;
    font-family:"Rancho";
    color:white;
    margin: 20px;
}

//button custom
ion-button{
    float: right;
    --border-radius: 19px;
    --box-shadow: 1px 1px 3px #635c63;
    font-size: 24px;
    --background: #F68F59;
    --background-activated:#f66f26;
}



