<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col class="ion-text-center">
				<h1>RESULTATS</h1>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let joueur of joueurs;let index = index" class="ion-text-center">
			<ion-col>
				<h4>{{joueur.nom_joueur}}</h4>
			</ion-col>
			<ion-col>
				<h5>{{joueur.score_joueur}}</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button color="danger" size="large" routerLink="/">REJOUER</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- Modal displayed by default, announcing the winner name -->
	<ion-modal
	[swipeToClose]="true"
	[isOpen]="true"
	(click)="dismiss()"
	>
		<ng-template>
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col class="ion-text-center" size="12">
						<h1>LE GRAND GAGNANT EST</h1>
					</ion-col>
				</ion-row>
				<ion-row class="ion-justify-content-center">
					<ion-col class="ion-text-center" size="12">
						<!--name of the winner-->
						<p>{{winner}}</p>
					</ion-col>
				</ion-row>
				<ion-row class="ion-justify-content-center">
					<ion-col class="ion-text-center" size="12">
						<div id="image"></div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ng-template>
	</ion-modal>
</ion-content>
