<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col class="ion-text-center">
				<h1>RESULTATS</h1>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let joueur of joueurs;let index = index" class="ion-text-center">
			<ion-col>
				<h4>{{joueur.nom_joueur}}</h4>
			</ion-col>
			<ion-col>
				<h5>{{joueur.score_joueur}} POINTS</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button color="danger" size="large" routerLink="/">REJOUER</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- Modal displayed by default, announcing the winner name -->
	<ion-modal
	[swipeToClose]="true"
	[isOpen]="true"
	(click)="dismiss()"
	>
		<ng-template>
			<div class="ion-align-items-start">				
				<h1 class="ion-text-center">LE GRAND GAGNANT EST</h1>
				<p class="ion-text-center">{{winner}}</p>
				<div class="ion-text-center" id="image"></div>
			</div>
		</ng-template>
	</ion-modal>
</ion-content>
